$shadow-medium: 0.3px 0.5px 0.7px hsl(160deg, 36%, 56%),
  0.8px 1.6px 2px -0.8px hsl(160deg, 36%, 56%),
  2.1px 4.1px 5.2px -1.7px hsl(160deg, 36%, 56%),
  5px 10px 12.6px -2.5px hsl(160deg, 36%, 56%);

.greeting-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #ccc;

  .greeting-container {
    width: 90%;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: $shadow-medium;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 1.25rem;

    .greeting {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .greeting-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 1.25rem;
      gap: 0.5rem;
      font-weight: 600;
      color: #fff;
      background-color: hsl(74, 85%, 41%);
      border: 0;
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;
      transition: all 0.2s ease-in-out;

      &:hover {
        background-color: hsl(74, 84%, 33%);
      }
    }
  }

  @media only screen and (min-width: 768px) {
    .greeting-container {
      width: 50%;
      font-size: 1.5rem;
    }
  }

  .greeting-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background-color: hsla(74, 85%, 41%, 0.585);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    .lds-roller {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }

    .lds-roller div {
      animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      transform-origin: 40px 40px;
    }

    .lds-roller div::after {
      content: " ";
      display: block;
      position: absolute;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: #fff;
      margin: -4px 0 0 -4px;
    }

    .lds-roller div:nth-child(1) {
      animation-delay: -0.036s;
    }

    .lds-roller div:nth-child(1)::after {
      top: 63px;
      left: 63px;
    }

    .lds-roller div:nth-child(2) {
      animation-delay: -0.072s;
    }

    .lds-roller div:nth-child(2)::after {
      top: 68px;
      left: 56px;
    }

    .lds-roller div:nth-child(3) {
      animation-delay: -0.108s;
    }

    .lds-roller div:nth-child(3)::after {
      top: 71px;
      left: 48px;
    }

    .lds-roller div:nth-child(4) {
      animation-delay: -0.144s;
    }

    .lds-roller div:nth-child(4)::after {
      top: 72px;
      left: 40px;
    }

    .lds-roller div:nth-child(5) {
      animation-delay: -0.18s;
    }

    .lds-roller div:nth-child(5)::after {
      top: 71px;
      left: 32px;
    }

    .lds-roller div:nth-child(6) {
      animation-delay: -0.216s;
    }

    .lds-roller div:nth-child(6)::after {
      top: 68px;
      left: 24px;
    }

    .lds-roller div:nth-child(7) {
      animation-delay: -0.252s;
    }

    .lds-roller div:nth-child(7)::after {
      top: 63px;
      left: 17px;
    }

    .lds-roller div:nth-child(8) {
      animation-delay: -0.288s;
    }

    .lds-roller div:nth-child(8)::after {
      top: 56px;
      left: 12px;
    }

    @keyframes lds-roller {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }
}
